/* CONVERSATION WRAPPER */
.conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #e5ddd5; /* WhatsApp chat background tone */
}

/* HEADER */
.conversationHeader {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background: #f0f2f5;
  border-bottom: 1px solid #d1d7db;
  
  
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}
.headerInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerIcons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}
.headerText {
  display: flex;
  flex-direction: column;
  
}

.avatarLarge {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #25d366;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.status {
  font-size: 12px;
  color: #667781;
}

.backButton {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backIcon {
  width: 24px;
  height: 24px;
  color: #111b21;
}


/* MESSAGES AREA */
.messages {
  flex: 1;
  padding: 20px 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MESSAGE ROW */
.messageRow {
  display: flex;
}

/* INCOMING MESSAGE BUBBLE */
.messageIncoming {
  max-width: 65%;
  background: #ffffff;
  padding: 8px 12px 6px 12px;
  border-radius: 8px 8px 8px 2px;
  font-size: 14px;
  line-height: 1.4;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

/* MESSAGE TEXT */
.messageText {
  color: #111b21;
  margin-bottom: 4px;
}

/* TIME INSIDE BUBBLE */
.messageTime {
  align-self: flex-end;
  font-size: 11px;
  color: #667781;
}

/* INPUT BAR */
.messageInputBar {
  padding: 10px 12px;
  background: #f0f2f5;
  border-top: 1px solid #d1d7db;
  display: flex;
  align-items: center;
}

.messageInputField {
  width: 100%;
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 14px;
}

/* MOBILE */
@media (max-width: 768px) {
  .conversationHeader {
    padding: 8px 12px;
  }

  .messages {
    padding: 16px 12px 80px; 
  }

  .messageIncoming {
    max-width: 75%;
    font-size: 13px;
  }
  .conversation {
    width: 100%;
  }
}
