* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #ffffff;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Prevent  input zoom */
input,
textarea,
select {
  font-size: 16px;
}

/* Stops Safari from auto-resizing text */
html {
  -webkit-text-size-adjust: 100%;
}



@media (max-width: 720px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .root {
    width: 100%;
    height: 100%;
  }
  .app{
    width: 100vw;
    height: 100%;
  }
}
